# Ignore virtual environment
sentimentenv/

# Ignore dataset
aclImdb/

# Ignore incomplete source folder
src/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore large model files
saved_model/*.pth